In [1]:
import pandas as pd

### Question about the data
- What is the company about, where does the data come from?
- Is the Id and the customer_id the same?
- in the columns [days_since_last_login, avg_time_spent, points_in_wallet, avg_frequency_login_days] have negative values, is that correct?
- What is security_no,preferred_offer_types, avg_transaction_value, offer_application_preference 
- when we say medium_of_operation does it mean which platform the customer is using?
- What does the Error mean in avg_frequency_login_days and what does the column mean?

#### Displaying the top 5 rows of the data

In [19]:
df = pd.read_csv('churn_dataset_train.csv')
df.head()

,ID,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn
0,1644,fffe43004900440033003200390032003400,Dusty Dunneback,30,F,URPJZ5B,Village,No Membership,09/08/2017,Yes,...,118.390000,10579.56,24,610.360000,Yes,No,No,Not Applicable,Poor Product Quality,1
1,8516,fffe43004900440036003200310038003600,Dorine Vanduyn,55,M,O0IWUYW,Village,Silver Membership,09/02/2016,No,...,179.420000,22963.05,27,694.650000,Yes,No,No,Not Applicable,Poor Product Quality,0
2,15564,fffe430049004400350032003200,Christene Pulver,47,M,2R0EFA2,City,Basic Membership,11/06/2017,Yes,...,42.230000,32604.41,Error,520.620000,Yes,No,No,Not Applicable,Poor Product Quality,1
3,22211,fffe43004900440032003200380034003600,Brendan Enciso,18,M,XF0YGUT,Town,Gold Membership,09/02/2016,No,...,-1035.833706,48913.61,27,1150.093442,Yes,No,No,Not Applicable,Too many ads,0
4,32088,fffe43004900440035003600320032003100,Lizette Lemons,28,F,V5YZC2N,City,No Membership,16/07/2017,Yes,...,449.770000,20010.02,14,653.040000,Yes,Yes,Yes,No Information Available,No reason specified,0

#### Showing the data types of the columns and the number of non null values

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24784 entries, 0 to 24783
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   ID                            24784 non-null  int64
 1   customer_id                   24784 non-null  object
 2   Name                          24784 non-null  object
 3   age                           24784 non-null  int64
 4   gender                        24784 non-null  object
 5   security_no                   24784 non-null  object
 6   region_category               21087 non-null  object
 7   membership_category           24784 non-null  object
 8   joining_date                  24784 non-null  object
 9   joined_through_referral       21158 non-null  object
 10  referral_id                   12787 non-null  object
 11  preferred_offer_types         24576 non-null  object
 12  medium_of_operation           21156 non-null  object
 13  internet_option               24784 non-null  object
 14  days_since_last_login         24784 non-null  int64
 15  avg_time_spent                24784 non-null  float64
 16  avg_transaction_value         24784 non-null  float64
 17  avg_frequency_login_days      24784 non-null  object
 18  points_in_wallet              22497 non-null  float64
 19  used_special_discount         24784 non-null  object
 20  offer_application_preference  24784 non-null  object
 21  past_complaint                24784 non-null  object
 22  complaint_status              24784 non-null  object
 23  feedback                      24784 non-null  object
 24  churn                         24784 non-null  int64
dtypes: float64(3), int64(4), object(18)
memory usage: 4.7+ MB

* For the number columns, we see the distribution of the data, mean std, min, max, 25%, 50%, 75%
* It also show the count of the non null values

In [13]:
df.describe()

,ID,age,days_since_last_login,avg_time_spent,avg_transaction_value,points_in_wallet,churn
count,24784.000000,24784.000000,24784.000000,24784.000000,24784.000000,22497.000000,24784.000000
mean,18467.497014,36.986967,-42.462314,241.974449,29307.237880,686.287574,0.265655
std,10660.308320,15.860701,229.834676,395.333687,19436.878248,193.175055,0.441690
min,0.000000,10.000000,-999.000000,-2281.236526,800.460000,-549.357498,0.000000
25%,9262.750000,23.000000,8.000000,60.165000,14194.192500,616.410000,0.000000
50%,18495.500000,37.000000,12.000000,161.390000,27612.555000,696.920000,0.000000
75%,27676.250000,51.000000,16.000000,354.725000,40862.025000,763.090000,1.000000
max,36989.000000,64.000000,26.000000,3040.410000,99914.050000,1816.933696,1.000000

* For the feedback columns, we see the number of unique values, the top value and the frequency of that value

In [7]:
df.feedback.value_counts()

feedback
Poor Product Quality        4309
Too many ads                4238
Poor Customer Service       4210
Poor Website                4206
No reason specified         4128
User Friendly Website        940
Reasonable Price             937
Products always in Stock     934
Quality Customer Care        882
Name: count, dtype: int64

* For the columns which have missing values show the number of missing values

In [21]:
df.isnull().sum()[df.isnull().sum() > 0]

region_category             3697
joined_through_referral     3626
referral_id                11997
preferred_offer_types        208
medium_of_operation         3628
points_in_wallet            2287
dtype: int64

In [31]:
df.offer_application_preference

0         No
1         No
2         No
3         No
4        Yes
        ...
24779     No
24780     No
24781    Yes
24782    Yes
24783    Yes
Name: offer_application_preference, Length: 24784, dtype: object

In [23]:
df.columns

Index(['ID', 'customer_id', 'Name', 'age', 'gender', 'security_no',
       'region_category', 'membership_category', 'joining_date',
       'joined_through_referral', 'referral_id', 'preferred_offer_types',
       'medium_of_operation', 'internet_option', 'days_since_last_login',
       'avg_time_spent', 'avg_transaction_value', 'avg_frequency_login_days',
       'points_in_wallet', 'used_special_discount',
       'offer_application_preference', 'past_complaint', 'complaint_status',
       'feedback', 'churn'],
      dtype='object')